<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
 
  </head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav">
          <li routerLink="/home">HOME</li>
					<li routerLink="/userlogin">SIGN IN</li>
          <li routerLink="/register">SIGN UP</li>
          <li routerLink="/adminlogin">ADMIN LOGIN</li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>FOODIES</h1>
       
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
        
          <h2>Mail</h2>
          <p>foodies@gmail.com</p>
          
          
        </div>
        <div class="col">
         
          <h2>Contact</h2>
          <p>9876543210</p>
          
          
        </div>
        <div class="col">
         
          <h2>About</h2>
          <p>Deliver at your Door Step</p>
          
          
        </div>
      </div>
  
    </div>

    <div class="footer">
      <div class="container1">
        <p>&copy; Group 6</p>
      </div>
    </div>
  </body>
</html>