<div class="bg container-fluid px-1 px-md-2 px-lg-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">
        <div class="card border-0">
          <div class="row justify-content-center">
            <h3 class="mb-4">Card Checkout</h3>
          </div>
          <div class="row">
            <div class="col-sm-7 border-line pb-3">
              <div class="form-group">
                <p class="text-muted text-sm mb-0">Name on the card</p>
                <input type="text" name="name" placeholder="Name" size="15" />
              </div>
              <div class="form-group">
                <p class="text-muted text-sm mb-0">Card Number</p>
                <div class="row px-3">
                  <input type="text"name="card-num"placeholder="0000 0000 0000 0000"size="18"id="cr_no"minlength="19" maxlength="19"/>
              
                
                </div>
              </div>
              <div class="form-group">
                <p class="text-muted text-sm mb-0">Expiry date</p>
                <input type="text"name="exp" placeholder="MM/YY"  size="6" id="exp"minlength="5" maxlength="5"/>
              </div>
              <div class="form-group">
                <p class="text-muted text-sm mb-0">CVV/CVC</p>
                <input type="password" name="cvv" placeholder="000" size="1" minlength="3" maxlength="3"/>
              </div>
            
           <br>
            <button type="submit" class="btn btn-red text-center mt-4"id="pay" (click)="buyProducts()">
                PAY
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>