
Cart Page
<div class="cart-item" *ngFor="let cartItem of cartItems">
    <h4>{{cartItem.name}}</h4>
    <div class="price-input">
        <button mat-mini-fab color="accent" (click)="removeQuantity(cartItem)">
            <button>remove</button>
        </button>
        <div class="quantity-form-field">
            <label>Quantity</label>
            <input matInput type="text" [(ngModel)]="cartItem.quantity">
        </div>
        <button mat-mini-fab color="accent" (click)="addQuantity(cartItem)">
            <button>add</button>
        </button>
    </div>
    <button mat-raised-button color="warn" class="remove-menu" (click)="removeItem(cartItem)">
        Remove Item
    </button>
</div>
