<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<nav class="navbar navbar-light bg-primary"> 
  <div class="container-fluid">

  <h3 style="color: aliceblue;">  FOOD DETAILS</h3> 
  <div class="d-flex"> 
      <button (click)="clickAddFood()" type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#exampleModal"class="btn btn-success">Add FOOD</button>&nbsp;
     <button  type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#exampleModal1"class="btn btn-success"><a routerLink="/adminregister" >Add Admin</a></button>&nbsp;
      
      <button type="button" class="btn btn-warning"><a routerLink="/transaction" >View All Transactions</a></button>&nbsp;
      <button  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1"class="btn btn-danger"><a routerLink="/adminlogin" >Logout</a></button>&nbsp;  
    </div>
  </div>
  </nav> 
<table class="table mt-3">  
<thead>
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Food Name</th>
    <th scope="col">Category</th>
    <th scope="col">Cuisine Type</th> 
    <th scope="col">Description</th>
    <th scope="col">Offers</th>
    <th scope="col">Price</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let row of foodData">
<td>{{row.id}}</td>
<td>{{row.foodname}}</td>
<td>{{row.category}}</td>
<td>{{row.cuisinename}}</td>
<td>{{row.description}}</td>
<td>{{row.offers}}</td>
<td>{{row.price}}</td>
<td>{{row.status}}</td>
    <td> 
    <button (click)="onEdit(row)" style="color:rgb(186, 241, 245)" type="button" class="btn btn-warning" data-bs-toggle="modal"data-bs-target="#exampleModal" >Edit</button>
   <button (click)="deleteFood(row)" class="btn btn-danger mx-3">Delete</button></td>

    
</tr>
</tbody>
</table>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Item Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Food Name</label>
                  <input type="text" formControlName="foodname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Category</label>
                    <input type="text" formControlName="category" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Cuisine Type</label>
                  <input type="text" formControlName="cuisinename" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="email" formControlName="description"class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Offers</label>
                    <input type="email" formControlName="offers"class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price</label>
                    <input type="number" formControlName="price"class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Status</label>
                    <input type="email" formControlName="status"class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postFoodDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateFoodDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
